files
control

*.*.docs
*.*.doc-base
*.*.examples

*.*.prerm
*.*.postinst
*.substvars
*.debhelper*
lintian-override
unpack_examples.sh

libwxbase3.0-0
libwxbase3.0-0-dbg
libwxbase3.0-dev
libwxgtk3.0-0
libwxgtk3.0-0-dbg
libwxgtk3.0-dev
libwxgtk-media3.0-0
libwxgtk-media3.0-0-dbg
libwxgtk-media3.0-dev
libwxgtk-webview3.0-0
libwxgtk-webview3.0-0-dbg
libwxgtk-webview3.0-dev
libwxmsw3.0-0-dbg
libwxmsw3.0-dev
wx-common
wx3.0-examples
wx3.0-headers
wx3.0-headers-msw
wx3.0-i18n
