files
control

*.docs
*.doc-base
*.examples

*.prerm
*.postinst
*.substvars
*.debhelper*
lintian-override
unpack_examples.sh

libwxbase2.9-0
libwxbase2.9-debug
libwxbase2.9-dev
libwxgtk2.9-0
libwxgtk2.9-debug
libwxgtk2.9-dev
libwxmsw2.9-debug
libwxmsw2.9-dev
python-wxaddons
python-wxgtk2.9-debug
python-wxgtk2.9
python-wxtools
python-wxversion
wx-common
wx2.9-doc
wx2.9-examples
wx2.9-headers
wx2.9-headers-msw
wx2.9-i18n
