files
control

*.docs
*.doc-base
*.examples

*.prerm
*.postinst
*.substvars
*.debhelper*
lintian-override
unpack_examples.sh

libwxbase2.8-0
libwxbase2.8-dbg
libwxbase2.8-dev
libwxgtk2.8-0
libwxgtk2.8-dbg
libwxgtk2.8-dev
python-wxaddons
python-wxgtk2.8-dbg
python-wxgtk2.8
python-wxtools
python-wxversion
wx-common
wx2.8-doc
wx2.8-examples
wx2.8-headers
wx2.8-i18n
